<section class="container-checklist">
    <section class="chcontainer">

        <form class="chcontainer__form" id="formChecks">
            <h1>Menú tarjeta de credito</h1>
            <ul class="chcontainer__listas">
                <list-check data="Menú" check="A" number="1"></list-check>
                <list-check data="Pagar tarjeta" check="B" number="2" disabled></list-check>
                <list-check data="Asignar clave" check="C" number="3" disabled></list-check>
                <list-check data="Extracto" check="D" number="4" disabled></list-check>
                <list-check data="Avance" check="E" number="5" disabled></list-check>
                <list-check data="Retiro sin tarjeta" check="F" number="6" disabled></list-check>
                <li>
                    <input class="chcontainer__label--check hide" id="check-7" name="checkDes-7" type="checkbox"
                        disabled>
                </li>
            </ul>
        </form>

        <form class="chcontainer__desc" id="formDesc">
            <div class="chcontainer__content" id="checkDes-1">
                <h1 class="chcontainer__titles">A) Menú</h1>
                <p>Al ingresar a la opción tarjeta de crédito el cliente tiene la opción de poder realizar
                    operaciones como (apagar la tarjeta, ver el CVV, número de tarjeta y fecha de vencimiento
                    siempre y cuando este encendida visualizara la información, cupo de tarjeta, deuda, fecha de
                    corte de pago, pago mínimo y movimientos). </p>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch4_01"></i>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch4_02"></i>

                <ul>
                    <li><strong>1. Menu opreciones tarjeta:</strong> Aquí le permitirá al cliente realizar
                        operaciones con su tarjeta crédito como pagar tarjeta, asignar clave, ver extracto, avance y
                        retiro sin tarjeta.</li>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch4_03"></i>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch4_04"></i>
                </ul>
            </div>
            <div class="chcontainer__content hide" id="checkDes-2">
                <h1 class="chcontainer__titles">B) Pagar tarjeta</h1>
                <p>El cliente en la opción de pagar tarjeta puede realizar su pago de tarjetas de crédito de BBVA
                    sea pago mínimo o total, debe seleccionar la cuenta de ahorro de donde se va a debitar el dinero
                    o podrá seleccionar el medio de PSE para realizarlo desde otros bancos.</p>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch4_05"></i>
                <ul>
                    <li><strong>1. Pago:</strong> El cliente podrá seleccionar si desea realizar el pago mínimo o
                        total de tarjeta.</li>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch4_06"></i>
                </ul>
            </div>
            <div class="chcontainer__content hide" id="checkDes-3">
                <h1 class="chcontainer__titles">C) Asignar clave</h1>
                <p>Por esta opción el cliente podrá realizar el cambio de clave sin importar si la recuerda la
                    anterior y las veces que desee, esta quedará de forma inmediata.</p>
                <p>Recuerda que ya no es necesario generar un bloqueo definitivo por olvido de clave.</p>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch4_07"></i>
                <figure class="chcontainer__fig">
                    <i class="fa-solid fa-images chcontainer__content--i" name="img_2"></i>
                </figure>
            </div>
            <div class="chcontainer__content hide" id="checkDes-4">
                <h1 class="chcontainer__titles">D) Extracto</h1>
                <p>En la opción de ver extractos, el cliente podrá descargar de forma inmediata sus extractos de sus
                    tarjetas de crédito, recuerda que esta no maneja un promedio, solo que si la tarjeta presenta
                    más de 90 días en mora ya no generara extracto y se descargara en PDF, solicita clave y es el
                    número de identificación del cliente.</p>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch4_08"></i>
                <ul>
                    <li><strong>1.</strong> Se debe seleccionar el mes que se desea descargar teniendo en cuenta que
                        máximo se puede 24 meses atrás.</li>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch4_09"></i>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch4_10"></i>
                    <li><strong>2.</strong> Aquí le descargara en formato PDF y debe ingresar como contraseña el
                        número de documento.</li>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch4_11"></i>
                </ul>
            </div>
            <div class="chcontainer__content hide" id="checkDes-5">
                <h1 class="chcontainer__titles">E) Avance</h1>
                <p> En esta opción el cliente puede realizar el proceso de avance a cuenta de ahorro del mismo
                    cliente y se difiere automáticamente a 36 cuotas y se verá reflejado de forma inmediata en la
                    cuenta de ahorro</p>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch4_12"></i>
                <ul>
                    <li><strong>1. Valor:</strong> se debe seleccionar del disponible el valor que desea avanzar,
                        tener en cuenta que este tiene un costo de 5.600 pesos y se desembolsa a la cuenta de ahorro
                        seleccionada.</li>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch4_13"></i>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch4_14"></i>
                </ul>
            </div>
            <div class="chcontainer__content hide" id="checkDes-6">
                <h1 class="chcontainer__titles">F) Retiro sin tarejeta</h1>
                <p>En esta opción el cliente puede realizar el proceso de avance a cuenta de ahorro del mismo
                    cliente, tener presente que esta operación tiene un costo de 5.600 pesos y se difiere
                    automáticamente a 36 cuotas y se verá reflejado de forma inmediata en la cuenta de ahorro.</p>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch4_15"></i>
                <ul>
                    <li><strong>1.</strong> Aquí podrá seleccionar el monto a retirar en múltiplo de 20.000 y hasta
                        un monto máximo de 2.100.000 al día y le genera un token el cual tiene vigencia de 3 horas.
                    </li>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch4_16"></i>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch4_17"></i>
                </ul>
            </div>
            <div class="chcontainer__content hide" id="checkDes-7">
                <h1 class="chcontainer__titles">FIN DEL PROCESO</h1>
                <figure class="chcontainer__fig">
                    <i class="fa-solid fa-images chcontainer__content--i" name="img_5"></i>
                </figure>
            </div>
        </form>
        <div class="chcontainer__btns">
            <button type="reset" class="chcontainer__btns--btn button__button" id="resetAllForm">Reiniciar</button>
            <button type="button" class="chcontainer__btns--btn button__button other hide" id="btnData"
                name="ch_actualiza">Datos</button>
        </div>
    </section>
</section>