<section class="container-checklist">
    <section class="chcontainer">

        <form class="chcontainer__form" id="formChecks">
            <h1>Menú cuentas</h1>
            <ul class="chcontainer__listas">
                <list-check data="Menu principal" check="A" number="1"></list-check>
                <list-check data="Datos generales de la cuenta" check="B" number="2" disabled></list-check>
                <list-check data="Detalles cuenta" check="C" number="3" disabled></list-check>
                <list-check data="Menu operaciones cuentas" check="D" number="4" disabled></list-check>
                <list-check data="Transferir" check="E" number="5" disabled></list-check>
                <list-check data="Pago de servicios" check="F" number="6" disabled></list-check>
                <list-check data="Recarga a celular" check="G" number="7" disabled></list-check>
                <list-check data="Pagar tarjeta" check="H" number="8" disabled></list-check>
                <list-check data="Transferir a celular" check="I" number="9" disabled></list-check>
                <list-check data="Ver extracto" check="J" number="10" disabled></list-check>
                <list-check data="Ver certificado" check="K" number="11" disabled></list-check>
                <list-check data="Retiro sin tarjeta" check="L" number="12" disabled></list-check>
                <li>
                    <input class="chcontainer__label--check hide" id="check-13" name="checkDes-13" type="checkbox"
                        disabled>
                </li>
            </ul>
        </form>

        <form class="chcontainer__desc" id="formDesc">
            <div class="chcontainer__content" id="checkDes-1">
                <h1 class="chcontainer__titles">A) Menu principal</h1>
                <p>En el menú encontraremos los productos contratados por el cliente (cuentas, tarjetas, créditos, etc.)
                </p>
                <p>Aquí encontraras las cuentas de ahorros, donde podrás ver el saldo, los últimos dígitos de la cuenta,
                    el
                    estado entre otro. </p>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch3_01"></i>

                <i class="fa-solid fa-images chcontainer__content--i" name="img_8"></i>

            </div>
            <div class="chcontainer__content hide" id="checkDes-2">
                <h1 class="chcontainer__titles">B) Datos generales de la cuenta</h1>
                <p>al ingresar a la cuenta de ahorros podrás consultar:</p>
                <ul>
                    <li><strong>1.</strong> Tipo de cuenta.</li>
                    <li><strong>2.</strong> Saldo disponible.</li>
                    <li><strong>3.</strong> Saldo total.</li>
                    <li><strong>4.</strong> Saldo en canje.</li>
                    <li><strong>5.</strong> Detalle de la cuenta.</li>
                    <li><strong>6.</strong> movimientos últimos días</li>
                    <br>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_02"></i>
                    <br>
                    <p>Adicional desde aquí podrás realizar transferencias, pagos de recargas, descarga de certificado,
                        retiros sin tarjetas.</p>
                </ul>
            </div>
            <div class="chcontainer__content hide" id="checkDes-3">
                <h1 class="chcontainer__titles">C) Detalles cuenta</h1>
                <p>el cliente podrá consultar el tipo de cuenta, nombre de producto, número de cuenta, código Swift
                    para giros, los participantes de cuenta y ver el numero de la tarjeta.</p>

                <i class="fa-solid fa-images chcontainer__content--i" name="ch3_03"></i>
                <i class="fa-solid fa-images chcontainer__content--i" name="img_9"></i>
            </div>
            <div class="chcontainer__content hide" id="checkDes-4">
                <h1 class="chcontainer__titles">D) Menu operaciones cuentas</h1>
                <p>aquí le permitirá al cliente realizar operaciones con su cuenta como transferir, pagar servicios,
                    recargas, pagar tarjetas, transferir a celular, ver extractos, ver certificados y realizar retiros
                    sin
                    tarjetas.</p>
                <p>Todo esto siempre y cuando el producto se encuentre activo.</p>

                <i class="fa-solid fa-images chcontainer__content--i" name="ch3_04"></i>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch3_05"></i>
                <i class="fa-solid fa-images chcontainer__content--i" name="img_1"></i>
            </div>
            <div class="chcontainer__content hide" id="checkDes-5">
                <h1 class="chcontainer__titles">E) Transferir</h1>
                <p>podrás escribir nuevas cuentas, a cuentas frecuentes, inscritas, y favorito.</p>

                <i class="fa-solid fa-images chcontainer__content--i" name="ch3_06"></i>
                <ul>
                    <li><strong>1. Nuevo destino:</strong> El cliente podrá seleccionar el banco, tipo de cuenta, número
                        de
                        cuenta.</li>

                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_07"></i>
                    <li><strong>2. Banco:</strong> Debe seleccionar el banco en Colombia donde se va a enviar el dinero.
                    </li>

                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_08"></i>
                    <li><strong>3. Tipo de cuenta:</strong> El cliente puede seleccionar el tipo de cuenta a la cual va
                        a
                        enviar el dinero.</li>

                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_09"></i>
                    <li><strong>4. Datos adicionales:</strong> después de ingresar los datos de la cuenta, les pedirá
                        los
                        datos básicos del titular destino, como tipo de documento, numero de documentos y nombres y
                        apellidos.</li>

                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_10"></i>
                    <li><strong>5. Valor:</strong> El cliente acá podrá digitar el valor de desea enviar.</li>

                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_11"></i>
                    <li><strong>6. Confirmacion operación</strong> al finalizar el proceso el sistema le genera la
                        confirmación de la operación y deberá esperar los tiempos estipulados para transferencias.</li>

                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_12"></i>
                </ul>
            </div>
            <div class="chcontainer__content hide" id="checkDes-6">
                <h1 class="chcontainer__titles">F) Pago de servicios</h1>
                <p>Al ingresar a la opción de pago de servicios públicos entre ellos podrá pagar (luz, agua, facturas de
                    celular y fijo, matriculas de universidad entre otros); debe seleccionar pagar facturas, buscar el
                    servicio o la entidad a pagar e ingresar el contrato de la factura y darle continuar y seleccionar
                    la
                    cuenta y pagar. </p>

                <i class="fa-solid fa-images chcontainer__content--i" name="ch3_13"></i>
                <ul>
                    <li><strong>1. Pagar factura:</strong> En estas opciones el cliente podrá escribir el número de
                        factura,
                        escanear el código de barras o el nombre del convenio.</li>

                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_14"></i>
                    <li><strong>2. Seleccionar:</strong> Al ingresar la referencia el sistema reconocerá el servicio,
                        convenio y continuar y darle pagar.</li>

                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_15"></i>
                </ul>
            </div>
            <div class="chcontainer__content hide" id="checkDes-7">
                <h1 class="chcontainer__titles">G) Recarga a celular</h1>
                <p>El cliente podrá realizar recargas a celular movistar, claro y Tigo desde 1.000 hasta 100.000, debe
                    seleccionar el operador y el monto a recargar, la operación tiene un tiempo máximo de 24 horas
                    hábiles.
                </p>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch3_16"></i>
                <ul>
                    <li><strong>1. Nuevo destino:</strong> Debe seleccionar el operador móvil al cual va realizar la
                        transferencia (claro, movistar y Tigo) y numero de envió.</li>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_17"></i>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_18"></i>
                    <li><strong>2. Valor:</strong> seleccionar el monto que desea recargar mínimo 1.000 y máximo
                        100.000.
                    </li>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_19"></i>
                </ul>
            </div>
            <div class="chcontainer__content hide" id="checkDes-8">
                <h1 class="chcontainer__titles">H) Pagar tarjeta</h1>
                <p>El cliente en la opción de pagar tarjeta puede realizar su pago de tarjetas de crédito de BBVA y de
                    otros
                    bancos, debe seleccionar la cuenta de ahorro de donde se va a debitar el dinero y seleccionar el
                    producto a pagar en productos BBVA el pago es inmediato </p>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch3_20"></i>
                <ul>
                    <li><strong>1. Otras tarjetas:</strong> En esta opción el cliente podrá realizar el pago de tarjetas
                        de
                        otro banco, siempre y cuando estas sean escritas por BBVANET y tendrá un tiempo de 7 días
                        hábiles
                        para ver reflejado el pago.</li>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_21"></i>
                    <li><strong>2. Pago:</strong> El cliente podrá seleccionar si desea realizar el pago mínimo o total
                        de
                        tarjeta.</li>

                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_22"></i>
                </ul>
            </div>
            <div class="chcontainer__content hide" id="checkDes-9">
                <h1 class="chcontainer__titles">I) Transferir a celular</h1>
                <p>En la opción de transferir al celular el cliente en el primer paso debe seleccionar la cuenta para
                    enviar
                    o recibir dinero mediante esta modalidad, confirmar los datos de cuenta y teléfono y continuar para
                    generar la activación exitosa.</p>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch3_23"></i>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch3_24"></i>
                <ul>
                    <li><strong>1. Cuenta destino:</strong> Al enviar dinero a un número de teléfono la persona
                        receptora
                        debe si o si estar registrado de lo contrario el sistema lo indicara y nos dará la posibilidad
                        de
                        enviar una invitación para que se registre y poder enviar dinero por este medio.</li>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_25"></i>
                    <li><strong>2. Invitar contacto:</strong> Si la persona a la cual se le va a enviar dinero está
                        registrada nos va a figurar los datos y nos permitirá realizar la operación y lo recibirá de
                        forma
                        inmediata en su cuenta BBVA.</li>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_26"></i>
                    <li><strong>3. Numero de contacto:</strong> Cuando el numero esta activo para recibir dinero entre
                        BBVA
                        figura con nombre y apellidos y podrás seleccionar el monto a envía y será de forma inmediata.
                    </li>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_27"></i>
                </ul>
            </div>
            <div class="chcontainer__content hide" id="checkDes-10">
                <h1 class="chcontainer__titles">J) Ver extracto</h1>
                <p>En la opción de ver extractos, el cliente podrá descargar de forma inmediata sus extractos de su
                    cuenta
                    de ahorro siempre y cuando se cumpla con el promedio mensual de 100.001 y que el producto este
                    activo.
                </p>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch3_28"></i>
                <ul>
                    <li><strong>1.</strong> Se debe seleccionar el mes que se desea descargar teniendo en cuenta que
                        máximo
                        se puede 24 meses atrás </li>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_29"></i>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_30"></i>
                    <li><strong>2.</strong> Aquí le descargara en formato PDF y debe ingresar como contraseña el número
                        de
                        documento.</li>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_31"></i>
                </ul>
            </div>
            <div class="chcontainer__content hide" id="checkDes-11">
                <h1 class="chcontainer__titles">K) Ver certificado</h1>
                <p>En esta opción el cliente podrá realizar la descarga del certificado de la cuenta debe seleccionar el
                    tipo de certificado que desea y será enviado al correo electrónico registrado y llegará de forma
                    inmediata. Tener presente que si la cuenta está bloqueada (inmovilizada, DTN e icetex o embargo) no
                    se
                    podrá descargar el certificado.</p>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch3_32"></i>
                <ul>
                    <li><strong>1.</strong> Aquí podrá seleccionar el tipo de certificado que desea y le da enviar y le
                        llegará de forma inmediata al correo electrónico.</li>

                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_33"></i>

                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_34"></i>
                </ul>
            </div>
            <div class="chcontainer__content hide" id="checkDes-12">
                <h1 class="chcontainer__titles">L) Retiro sin tarjeta</h1>
                <p>La opción de retiro sin tarjeta le permite al cliente retirar sin tener su plástico; le permite
                    retirar
                    en cajeros BBVA o corresponsal bancario, podrá seleccionar el monto a retirar en múltiplo de 20.000
                    y
                    hasta un monto máximo de 2.100.000 al día y le genera un token el cual tiene vigencia de 3 horas.
                </p>

                <i class="fa-solid fa-images chcontainer__content--i" name="ch3_35"></i>
                <ul>
                    <li><strong>1.</strong> Aquí podrá seleccionar el monto a retirar en múltiplo de 20.000 y hasta un
                        monto
                        máximo de 2.100.000 al día y le genera un token el cual tiene vigencia de 3 horas.</li>

                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_36"></i>

                    <i class="fa-solid fa-images chcontainer__content--i" name="ch3_35"></i>
                </ul>
            </div>
            <div class="chcontainer__content hide" id="checkDes-13">
                <h1 class="chcontainer__titles">FIN DEL PROCESO</h1>
                <i class="fa-solid fa-images chcontainer__content--i" name="img_5"></i>
            </div>
        </form>

        <div class="chcontainer__btns">
            <button type="reset" class="chcontainer__btns--btn button__button" id="resetAllForm">Reiniciar</button>
            <button type="button" class="chcontainer__btns--btn button__button other hide" id="btnData"
                name="ch_actualiza">Datos</button>
        </div>

    </section>
</section>