<section class="container-checklist">
    <section class="chcontainer">

        <form class="chcontainer__form" id="formChecks">
            <h1>Menú creditos</h1>
            <ul class="chcontainer__listas">
                <list-check data="Menú creditos" check="A" number="1"></list-check>
                <list-check data="Pagar" check="B" number="2" disabled></list-check>
                <list-check data="Ver extracto" check="C" number="3" disabled></list-check>
                <li>
                    <input class="chcontainer__label--check hide" id="check-4" name="checkDes-4" type="checkbox"
                        disabled>
                </li>
            </ul>
        </form>

        <form class="chcontainer__desc" id="formDesc">
            <div class="chcontainer__content" id="checkDes-1">
                <h1 class="chcontainer__titles">A) Menú creditos</h1>
                <p>En la opción de créditos el cliente podrá visualizar (monto de crédito otorgado, saldo pendiente,
                    saldo pagado, detalles del crédito, movimientos, tasa de intereses del crédito) y pagar.</p>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch5_01"></i>
                <ul>
                    <li><strong>1. Detalle del credito:</strong> En la opción de créditos se podrá visualizar que
                        tipo de crédito, numero de crédito, fecha de desembolso, vencimiento de crédito, forma de
                        pago, participe, tipo de liquidación y tasa de intereses.</li>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch5_02"></i>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch5_03"></i>
                </ul>
            </div>
            <div class="chcontainer__content hide" id="checkDes-2">
                <h1 class="chcontainer__titles">B) Pagar</h1>
                <p>En esta opción el cliente podrá realizar pago de su cuota desde su cuenta BBVA, Ten en cuenta que
                    por el momento no esta activo para pagar por PSE.</p>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch5_04"></i>
                <ul>
                    <li><strong>1.</strong> 1- El cliente podrá pagar el valor de su cuota y de no tener pago mínimo
                        puede realizar el pago de la próxima cuota.</li>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch5_05"></i>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch5_06"></i>
                </ul>
            </div>
            <div class="chcontainer__content hide" id="checkDes-3">
                <h1 class="chcontainer__titles">C) Ver extracto</h1>
                <p>En la opción de ver extractos, el cliente podrá descargar de forma inmediata sus extractos de sus
                    créditos, recuerda que esta no maneja un promedio, solo que si la tarjeta presenta más de 90
                    días en mora ya no generara extracto y se descargara en PDF, solicita clave y es el número de
                    identificación del cliente.</p>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch5_07"></i>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch5_08"></i>
                <figure class="chcontainer__fig">
                    <i class="fa-solid fa-images chcontainer__content--i" name="img_4"></i>
                </figure>
            </div>
            <div class="chcontainer__content hide" id="checkDes-4">
                <h1 class="chcontainer__titles">FIN DEL PROCESO</h1>
                <figure class="chcontainer__fig">
                    <i class="fa-solid fa-images chcontainer__content--i" name="img_5"></i>
                </figure>
            </div>
        </form>

        <div class="chcontainer__btns">
            <button type="reset" class="chcontainer__btns--btn button__button" id="resetAllForm">Reiniciar</button>
            <button type="button" class="chcontainer__btns--btn button__button other hide" id="btnData"
                name="ch_actualiza">Datos</button>
        </div>

    </section>
</section>