<section class="container-checklist">
    <section class="chcontainer">

        <form class="chcontainer__form" id="formChecks">
            <h1>Menú adelanto de nomina</h1>
            <ul class="chcontainer__listas">
                <list-check data="Adelanto de nomina" check="A" number="1"></list-check>
                <list-check data="Detalles de nomina" check="B" number="2" disabled></list-check>
                <list-check data="Usar" check="C" number="3" disabled></list-check>
                <li>
                    <input class="chcontainer__label--check hide" id="check-4" name="checkDes-4" type="checkbox"
                        disabled>
                </li>
            </ul>
        </form>

        <form class="chcontainer__desc" id="formDesc">
            <div class="chcontainer__content" id="checkDes-1">
                <h1 class="chcontainer__titles">A) Adelanto de nomina</h1>
                <p>El cliente podrá visualizar el cupo disponible para el mes en curso, recuerda que este valor mes
                    a mes varía dependiendo los ingresos de nómina en la cuenta, podrá ver el detalle, podrá usar un
                    cupo parcial y total, recuerda que este tiene un cobro de comisión de 10.500 más IVA que
                    equivale a un total de 12.495 pesos. Cuando ingreso a la cuenta asociada, el sistema realizara
                    la retención del dinero para realizar el pago de forma automática. </p>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch6_01"></i>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch6_02"></i>

                <figure class="chcontainer__fig"> <i class="fa-solid fa-images chcontainer__content--i"
                        name="img_4"></i>
                </figure>
            </div>
            <div class="chcontainer__content hide" id="checkDes-2">
                <h1 class="chcontainer__titles">B) Detalles de nomina</h1>
                <p>Aquí podrás ver el numero de producto, titular, cuenta asociada adelanto de nómina, condiciones,
                    cupo y fecha de activación.</p>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch6_03"></i>
                <figure class="chcontainer__fig">
                    <i class="fa-solid fa-images chcontainer__content--i" name="img_8"></i>
                </figure>
            </div>
            <div class="chcontainer__content hide" id="checkDes-3">
                <h1 class="chcontainer__titles">C) Usar</h1>
                <p>En esta opción el cliente podrá usar su adelanto de nomina de dos formas, cupo total u otro
                    valor.</p>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch6_04"></i>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch6_05"></i>
                <figure class="chcontainer__fig">
                    <i class="fa-solid fa-images chcontainer__content--i" name="img_9"></i>
                </figure>
            </div>
            <div class="chcontainer__content hide" id="checkDes-4">
                <h1 class="chcontainer__titles">FIN DEL PROCESO</h1>
                <figure class="chcontainer__fig">
                    <i class="fa-solid fa-images chcontainer__content--i" name="img_5"></i>
                </figure>
            </div>
        </form>

        <div class="chcontainer__btns">
            <button type="reset" class="chcontainer__btns--btn button__button" id="resetAllForm">Reiniciar</button>
            <button type="button" class="chcontainer__btns--btn button__button other hide" id="btnData"
                name="ch_actualiza">Datos</button>
        </div>

    </section>
</section>