@use 'variables' as *;

.container {
    width: 80%;
    max-width: 600px;
    height: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0;
    padding: 1.7rem;
    background-color: $w-color;
    border-radius: 3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;


    .titleD {
        width: 100%;
        height: 10%;
        color: $g3-color;
        font-size: 2.5rem;
        text-transform: uppercase;
        color: $p-color;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .inputs {
            width: 100%;
            height: 80%;
            display: flex;
            gap: 0.5rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            label {
                display: block;
                font-size: 1.6rem;
                font-weight: bold;
                color: $s-color;
                text-transform: uppercase;
            }

            .error {
                border: 1px solid red;
            }

            #calle {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;

                .hola {
                    border: 3px solid red;
                }
            }

            select,
            input {
                width: 90%;
                padding: 1rem;
                border: 1px solid;
                border-radius: 0.5rem;
                font-size: 1.5rem;
                text-align: center;
                text-transform: uppercase;
                transition: border-color 0.3s;
            }

            select:focus,
            input[type="text"]:focus {
                outline: none;
                border-color: $p-color;
            }

            .help-text {
                font-size: 2rem;
                color: $t-color;
            }

        }


        .botonesD {
            height: 20%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            .buttons {
                width: 33%;
                background-color: $p-color;
                color: #fff;
                border: none;
                padding: 1.5rem;
                font-size: 1.5rem;
                border-radius: 0.5rem;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: $s-color;
                }
            }

            .resetButtonD {
                background-color: #dc3545;
                color: #fff;
                border: none;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #c82333;
                }
            }
        }

        .direccionMostradaD {
            margin-top: 1rem;
            font-size: 2rem;
            color: $g3-color;
        }
    }

}