@use '../../styles/variables' as *;

.stepper-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: light-dark(rgba($p3-color, 0.3), rgba($p2-color, 0));

    &__title {
        grid-column: 1/4;
        width: 100%;
        font-size: 4rem;
        color: light-dark($p2-color, $w-color);
        text-align: center;
        letter-spacing: 4px;
        margin-bottom: 2rem;
    }

    .left {
        height: 90%;
        width: 85%;
        margin: 0 auto;
        grid-column: 1/2;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 10px;

        h2 {
            font-size: 4rem;
            text-transform: uppercase;
            color: light-dark($w-color, $p2-color); // Manejando el color de texto
            font-weight: bold;

            span {
                color: light-dark($w-color, $p-color); // Manejando el color de texto del span
            }
        }
    }

    .rigth {
        grid-column: 2/3;
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90%;
        padding: 20px;
        border-radius: 10px;
    }

    .stepper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .step-image img {
        width: 100%;
        max-width: 550px;
        height: auto;
        object-fit: fill;
        margin-bottom: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
    }

    .step-indicator {
        background-color: light-dark($s2-color, $p2-color); // Manejando el color del indicador
        color: light-dark($p2-color, $s2-color); // Manejando el color del texto
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .stepper {
        width: 100%;

        p {
            font-size: 3rem;
            color: light-dark($p2-color, $s2-color); // Manejando el color del texto
            text-align: center;
            height: 180px;
            width: 100%;
            background-color: light-dark($p2-color, $w-color);
            color: light-dark($w-color, $p-color);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.8rem;
            padding: 0.5rem;
        }
    }

    .stepper-controls {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .stepper-controls button {
        background-color: light-dark($s2-color, $p2-color); // Manejando el color del botón
        color: light-dark($p2-color, $s2-color); // Manejando el color del texto
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .stepper-controls button:disabled {
        background-color: light-dark(#ccc, #333); // Manejando el color del botón deshabilitado
    }

    .stepper-controls button:not(:disabled):hover {
        background-color: light-dark(darken($s2-color, 10%), darken($p2-color, 10%)); // Manejando el color del hover
    }

    .stepper-indicators {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .stepper-indicators .indicator {
        width: 20px;
        height: 20px;
        background-color: light-dark($p2-color, $s2-color); // Manejando el color del indicador
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .stepper-indicators .indicator.active {
        background-color: light-dark($s2-color, $p2-color); // Color para el indicador activo
    }

    .stepper-indicators .indicator.completed {
        background-color: light-dark($s2-color, lighten($s2-color, 20%)); // Verde o color más claro para pasos completados
    }

    .stepper-indicators .indicator.pending {
        background-color: light-dark($p2-color, $s2-color); // Color para pasos pendientes
    }
}