<section class="container-checklist">
    <section class="chcontainer">

        <form class="chcontainer__form" id="formChecks">
            <h1>Menú contratar</h1>
            <ul class="chcontainer__listas">
                <list-check data="Contratar" check="A" number="1"></list-check>
                <li>
                    <input class="chcontainer__label--check hide" id="check-2" name="checkDes-2" type="checkbox"
                        disabled>
                </li>
            </ul>
        </form>

        <form class="chcontainer__desc" id="formDesc">
            <div class="chcontainer__content " id="checkDes-1">
                <h1 class="chcontainer__titles">A) Contratar</h1>
                <p>En esta opción el cliente actualmente puede contratar cuentas de ahorro y nómina, CDT online,
                    dinero móvil y fondo de inversión, además de las ofertas preaprobadas por el banco. </p>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch7_01"></i>
                <i class="fa-solid fa-images chcontainer__content--i" name="ch7_02"></i>
                <p>BBVA trabaja para incluir en esta opción todos los productos a contratar como estaba en la
                    anterior versión. </p>
                <figure class="chcontainer__fig">
                    <i class="fa-solid fa-images chcontainer__content--i" name="img_8"></i>
                </figure>
            </div>
            <div class="chcontainer__content hide" id="checkDes-2">
                <h1 class="chcontainer__titles">FIN DEL PROCESO</h1>
                <figure class="chcontainer__fig">
                    <i class="fa-solid fa-images chcontainer__content--i" name="img_5"></i>
                </figure>
            </div>
        </form>

        <div class="chcontainer__btns">
            <button type="reset" class="chcontainer__btns--btn button__button" id="resetAllForm">Reiniciar</button>
            <button type="button" class="chcontainer__btns--btn button__button other hide" id="btnData"
                name="ch_actualiza">Datos</button>
        </div>

    </section>
</section>