<section class="container-checklist">
    <section class="chcontainer">

        <form class="chcontainer__form" id="formChecks">
            <h1>Ingreso APP</h1>
            <ul class="chcontainer__listas">
                <list-check data="Ingreso APP" check="A" number="1"></list-check>
                <list-check data="Ingresar" check="B" number="2" disabled></list-check>
                <list-check data="Opción iniciar sesión" check="C" number="3" disabled></list-check>
                <list-check data="Crea tu ususario y contraseña" check="D" number="4" disabled></list-check>
                <li>
                    <input class="chcontainer__label--check hide" id="check-5" name="checkDes-5" type="checkbox"
                        disabled>
                </li>
            </ul>
        </form>

        <form class="chcontainer__desc" id="formDesc">
            <div class="chcontainer__content" id="checkDes-1">
                <h1 class="chcontainer__titles">A) Ingreso APP</h1>
                <ul>
                    <li><strong>1. Ingresar:</strong> esta opción le permitirá el acceso únicamente para personas que
                        cuenta
                        ya con productos activos.</li>
                    <li><strong>2. Hazte cliente:</strong> Esta opción le permitirá a nuevos cliente solicitar productos
                        como cuentas, tarjetas créditos, etc. </li>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch1_01"></i>
                </ul>
                <i class="fa-solid fa-images chcontainer__content--i" name="img-1.png"></i>
            </div>

            <div class="chcontainer__content hide" id="checkDes-2">
                <h1 class=" chcontainer__titles">B) Ingresar</h1>
                <p>nos permitirá iniciar sesión con usuario y clave.</p>
                <p>Si el cliente no se ha registrado por primera vez, debe ingresar por la opción CREA TU USUARIO Y
                    CONTRASEÑA.</p>

                <i class="fa-solid fa-images chcontainer__content--i" name="ch1_02"></i>
                <figure class="chcontainer__fig">

                    <i class="fa-solid fa-images chcontainer__content--i" name="img-2.png"></i>
                </figure>
            </div>
            <div class="chcontainer__content hide" id="checkDes-3">
                <h1 class="chcontainer__titles">C) Opción iniciar sesión</h1>
                <p>en esta opción le permitirá ingresar con tipo de documento y numero de documento y clave ya asignada.
                </p>

                <i class="fa-solid fa-images chcontainer__content--i" name="ch1-03.png"></i>
                <figure class="chcontainer__fig">

                    <i class="fa-solid fa-images chcontainer__content--i" name="img-3.png"></i>
                </figure>
            </div>
            <div class="chcontainer__content hide" id="checkDes-4">
                <h1 class="chcontainer__titles">D) Crea tu ususario y contraseña</h1>
                <p>solicitará dos métodos para poder crear su usuario:</p>
                <ul>
                    <li><strong>1.</strong> Datos de tu tarjeta.</li>
                    <li><strong>2.</strong> Documento de identidad y selfis. </li>
                    <i class="fa-solid fa-images chcontainer__content--i" name="ch1-04.png"></i>
                </ul>
                <p>Al finalizar el proceso le dará de alta en el canal y podrá visualizar sus productos.</p>
                <figure class="chcontainer__fig">

                    <i class="fa-solid fa-images chcontainer__content--i" name="img-4.png"></i>
                </figure>
            </div>
            <div class="chcontainer__content hide" id="checkDes-5">
                <h1 class="chcontainer__titles">FIN DEL PROCESO</h1>
                <figure class="chcontainer__fig">
                    <i class="fa-solid fa-images chcontainer__content--i" name="img-5.png"></i>
                </figure>
            </div>
        </form>
        <div class="chcontainer__btns">
            <button type="reset" class="chcontainer__btns--btn button__button" id="resetAllForm">Reiniciar</button>
            <button type="button" class="chcontainer__btns--btn button__button other hide" id="btnData"
                name="ch_actualiza">Datos</button>
        </div>
    </section>
</section>