@use '../../styles/variables' as *;

.container-manual {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    padding-bottom: 5rem;

    &.scroll {
        justify-content: none;
        padding-top: 200px;
    }

    &::-webkit-scrollbar {
        width: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: $w-color;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: $p-color;
    }

    &__title {
        font-size: 6rem;
        margin: 0.5rem;
        color: light-dark($b-color, $w-color);
        margin-bottom: 1rem;
    }

    .guide {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__button-container {
            width: 80%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            margin-bottom: 2rem;

            .wrapper {
                width: 100%;
                gap: 1rem;
                border-radius: 0.5rem;

                .active {
                    transition: all .5s;
                    transform: scale(1.2);
                    box-shadow: 0px 3px 5px rgba(0, 0, 0, .4);
                }

                button {
                    width: 65%;
                    height: 50px;
                    background: linear-gradient(to bottom right, light-dark($s-color, $p-color), mix($p-color, $w-color, 20%));
                    border-style: none;
                    color: #fff;
                    font-size: 2rem;
                    letter-spacing: 3px;
                    font-weight: 600;
                    outline: none;
                    cursor: pointer;
                    position: relative;
                    padding: 0px;
                    overflow: hidden;
                    transition: all .5s;
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
                    border-radius: 0.5rem;
                    margin: 0 auto;
                    display: flex;
                    gap: 1rem;
                    justify-content: center;
                    align-items: center;
                }

                button span {
                    position: absolute;
                    display: block;
                }

                button span:nth-child(1) {
                    height: 2px;
                    width: 200px;
                    top: 0px;
                    left: -200px;
                    background: linear-gradient(to bottom right, light-dark($w-color, $p-color), mix($p-color, $w-color, 20%));
                    border-top-right-radius: 1px;
                    border-bottom-right-radius: 1px;
                    animation: span1 2s linear infinite;
                    animation-delay: 1s;
                }

                @keyframes span1 {
                    0% {
                        left: -200px
                    }

                    100% {
                        left: 200px;
                    }
                }

                button span:nth-child(2) {
                    height: 70px;
                    width: 3px;
                    top: -70px;
                    right: 0px;
                    background: linear-gradient(to bottom right, light-dark($w-color, $p-color), mix($p-color, $w-color, 20%));
                    border-bottom-left-radius: 1px;
                    border-bottom-right-radius: 1px;
                    animation: span2 2s linear infinite;
                    animation-delay: 2s;
                }

                @keyframes span2 {
                    0% {
                        top: -70px;
                    }

                    100% {
                        top: 70px;
                    }
                }

                button span:nth-child(3) {
                    height: 2px;
                    width: 200px;
                    right: -200px;
                    bottom: 0px;
                    background: linear-gradient(to bottom right, light-dark($w-color, $p-color), mix($p-color, $w-color, 20%));
                    border-top-left-radius: 1px;
                    border-bottom-left-radius: 1px;
                    animation: span3 2s linear infinite;
                    animation-delay: 2s;
                }

                @keyframes span3 {
                    0% {
                        right: -200px;
                    }

                    100% {
                        right: 200px;
                    }
                }

                button span:nth-child(4) {
                    height: 70px;
                    width: 3px;
                    bottom: -70px;
                    left: 0px;
                    background: linear-gradient(to bottom right, light-dark($w-color, $p-color), mix($p-color, $w-color, 20%));
                    border-top-right-radius: 1px;
                    border-top-left-radius: 1px;
                    animation: span4 2s linear infinite;
                    animation-delay: 2s;
                }

                @keyframes span4 {
                    0% {
                        bottom: -70px;
                    }

                    100% {
                        bottom: 70px;
                    }
                }

                button:hover {
                    transition: all .5s;
                    transform: rotate(-3deg) scale(1.1);
                    box-shadow: 0px 3px 5px rgba(0, 0, 0, .4);
                }

                button:hover span {
                    animation-play-state: paused;
                }
            }

        }

        .fieldset {
            width: 93%;
            border: 5px groove $w-color;
            padding: 1rem;
            background-color: light-dark($w-color, $b-color);
        }

        .legend {
            background-color: light-dark($s-color, $p2-color);
            font-size: 2rem;
            padding: 1rem;
            color: light-dark($w-color, $w-color);
            border-radius: 0.8rem;
            border: 2px solid light-dark($w-color, $p-color);
            text-transform: uppercase;
            font-weight: bold;
        }

        &__product {
            font-size: 24px;
            margin-top: 20px;
        }

        .guide__recommendation {
            height: 100%;
            display: flex;
            gap: 2rem;
            justify-content: center;
            margin-bottom: 1rem;

            p {
                padding: 1rem;
                font-size: 1.7rem;
                height: auto;
                width: 50%;
                text-align: center;
                background-color: light-dark($w-color, $b-color);
                color: light-dark($b-color, $w-color);
                border-radius: 10px;
                border: 3px solid light-dark($s-color, $p-color);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1);
                transition: transform 0.2s, box-shadow 0.2s;
                display: flex;
                justify-content: center;
                align-items: center;

                &.shake {
                    animation: shake 1s ease-in-out;
                }
            }

            @keyframes shake {

                0%,
                100% {
                    transform: translateX(0);
                }

                10%,
                30%,
                50%,
                70%,
                90% {
                    transform: translateX(-10px);
                }

                20%,
                40%,
                60%,
                80% {
                    transform: translateX(10px);
                }
            }
        }

        &__objections {
            margin: 0 auto;
            width: 90%;
            display: flex;
            gap: 1rem;
            flex-direction: column;
        }

        &__objection {
            border: 1px solid #ccc;
            padding: 10px;
            background-color: light-dark($s4-color, $p-color);
            color: light-dark($w-color, $w-color);
            text-align: center;
            text-transform: uppercase;
            border-top-right-radius: 2rem;
            border-bottom-left-radius: 2rem;

            &--active {
                box-shadow: inset 2px 5px 5px light-dark($g2-color, $w-color);
            }
        }

        &__objection-title {
            width: auto;
            font-size: 1.9rem;
            cursor: pointer;
        }

        &__manejos {
            margin: 0 auto;
            width: 90%;
            padding: 1rem;

        }

        &__manejo {
            font-size: 1.6rem;
            padding: 0.4rem;
            border-radius: 0.8rem;
            border-bottom: 2px solid light-dark($w-color, $p2-color);
        }

        &__manejo-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-top: 10px;
        }

        &__manejo-button {
            padding: 0.5rem 3rem;
            font-size: 1.6rem;
            background: linear-gradient(to bottom right, light-dark($s-color, $p-color), mix($p-color, $w-color, 20%));
            color: white;
            border: none;
            border-radius: 8rem;
            cursor: pointer;
            font-weight: bold;
            border: 1px solid light-dark($w-color, $p2-color);

            &--active {
                background: light-dark($w-color, $p2-color);
                color: light-dark($b-color, $w-color);
            }
        }
    }
}